<!--
Author: CentWebs
Date: 11-11-2020

-->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

<main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-10">Welcome to CentWebs' Online Survey creator</h1>
        <p>A global leader in survey software. 20 million questions answered daily</p>
        <p class="lead">This surveys are meant to help companies improve their services through accomodating clients feedback</p>
        <img src="/Assets/images/company_image.jpg" height="400" width="500" class="rounded float-start" alt="" />
        <img src="/Assets/images/survey_image.jpg" height="400" width="500" class="rounded float-end" alt=""/>
        <img src="/Assets/images/survey_image1.jpg" height="400" width="500" class="rounded float-start" alt="" />
        <img src="/Assets/images/survey_image2.jpg" height="400" width="500" class="rounded float-end" alt=""/>
      </div>
    </div>
</main>

<%- include ./partials/bottom_nav.ejs %>  

<%- include ./partials/footer.ejs %>
  
