<!--
Author: CentWebs
Date: 11-11-2020

-->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

<main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-10">Welcome to our online survey.</h1>
        <p class="lead">This surveys are meant to help companies improve their services through accomodating clients feedback</p>
        <img src="public/Assets/images/company_image.jpg" />
        <img src="public/Assets/images/survey_image.jpg" />
        <img src="public/Assets/images/survey_image1.jpg" />
      </div>
    </div>
</main>

<%- include ./partials/bottom_nav.ejs %>  

<%- include ./partials/footer.ejs %>
  
